@use '../../scss/variables' as *;

.store {
	padding: 10rem 0;
	background-color: $black-order;

	@media (max-width: 1024px) {
		padding: 8rem 0;
	}

	@media (max-width: 768px) {
		padding: 6rem 0;
	}

	&__title {
		color: $white;

		@include title-style;
	}

	&__input-fields {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, max-content));

		@media (max-width: 768px) {
			grid-template: repeat(3, auto) / 1fr;
			gap: 0.5rem;
		}
	}

	&__list {
		margin-top: 2rem;

		@include list-style;
	}
}
