@use '../../scss/variables' as *;

.goods {
	padding: 10rem 0;
	background-color: $black-order;

	@media (max-width: 1024px) {
		padding: 8rem 0;
	}

	@media (max-width: 768px) {
		padding: 6rem 0;
	}

	&__title {
		color: $white;

		@include title-style;
	}
}
